*.class
*.jar
*.war
*.ear

**/.DS_Store

target/

.idea/
*.iml
.settings/
.classpath
.project

data/

!data/model/segment/CRFSegmentModel.txt
!data/dictionary/CoreNature.txt
!data/dictionary/CoreNature.ngram.txt

*.mini.txt

src/test/